<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fibonacci Results</title>
</head>
<body>
    <p title="Fibonacci Result">Fibonacci Series Result</p>
    {% for obj in objects %}
    <li>RESULT for Input: {{ obj.input }}</li>
    <li>OUTPUT: {{ obj.output }}</li>
    <li>STATUS: {{ obj.status }}</li>
    <li>DATE CREATED: {{ obj.date_created }}</li>
    <li>DATE MODIFIED: {{ obj.date_modified }}</li>
    &nbsp;&nbsp;
    {% endfor %}

<form action="{% url 'back' %}" method="GET">
    <button type="submit" name="back/">Back</button>
</form>
</body>
</html>